body { background: #eee }
img { 
width: 100%}

.container-fluid {
max-width: 800px;
max-height: 500px }

.card{
	margin: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	background: #fff;
	border-color:1px solid #ddd;
	padding: 10px;
}
h1{
	text-align: center;
	color: orange;
}
.buttons{
	margin-top: 10px;
}

#alertUser{
	width: 100%
	margin-top: 10px;
    visibility: hidden;
}