body { background: #eee }
img { width: 100%;
height: auto }
.container-fluid { max-width: 700px; }

/*header {
	background: #563d7c;
	padding: 2em 1em;
	color: #fff;
	margin-bottom: 2em;
}

.card{
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}


[class*="col-"] {
	background: #fff;
	border: 1px solid #ddd;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 100%;
}*/

